.btn{
    border:1px solid black;
    background-color: blue;
    color: white;
    padding: 10px 45px;
    outline:none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background-color: darkblue;
}